/*Dark Grey*/
/*Light Grey*/
/*Dark Grey 40%*/
/* Bright Red*/
/*Lighter Red*/
/* you get the idea */
/*Light Grey*//* Default Border Radius*/
/* Bigger Radius*/
/* Text Styles ********************************************************/
/* Default Text Style */
stage {
  font-family: 'Noto Sans UI', PT Sans, Cantarell, sans-serif;
  font-size: 10pt;
  color: white;
}
/* links */
.shell-link {
  color: #000;
  text-decoration: underline;
}
.shell-link:hover {
  color: #565656;
}
/* small */
.app-well-menu,
.contact-details-status,
.run-dialog-label,
.run-dialog-error-label {
  font-size: 9pt;
}
/* small bold */
.dash-label,
.window-caption,
.switcher-list,
.app-well-app > .overview-icon,
.show-apps > .overview-icon,
.search-result-content > .overview-icon {
  font-size: 9pt;
  font-weight: bold;
}
/* Dialog Convenience */
.switcher-list,
.run-dialog,
.modal-dialog,
.end-session-dialog {
  background-color: #2d2d2d;
  border-radius: 2px;
  border: 1px solid rgba(173, 169, 168, 0.3);
  color: white;
  font-size: 10pt;
  padding: 16px 16px;
  spacing: 10px;
}
/* Scroll Bars ********************************************************/
StScrollBar {
  padding: 0px;
}
StScrollView.vfade {
  -st-vfade-offset: 60px;
}
StScrollView.hfade {
  -st-vfade-offset: 60px;
}
StScrollView StScrollBar {
  min-width: 10px;
  min-height: 10px;
}
StScrollBar StBin#trough {
  background: rgba(171, 171, 171, 0.3);
  border: 1px solid rgba(173, 169, 168, 0.3);
  border-radius: 2px;
}
StScrollBar StButton#vhandle,
StScrollBar StButton#hhandle {
  background: #d64937;
  border: 1px solid rgba(173, 169, 168, 0.3);
  border-radius: 2px;
  transition-duration: 200;
}
StScrollBar StButton#hhandle:hover,
StScrollBar StButton#vhandle:hover {
  background: #b2655b;
}
StScrollBar StButton#hhandle:active,
StScrollBar StButton#vhandle:active {
  background: #9a7873;
}
/* Check Boxes ********************************************************/
.check-box ShellGenericContainer {
  spacing: 0	.8em;
}
.check-box StBin {
  width: 24px;
  height: 22px;
  background-image: url("img/checkbox-off.svg");
}
.check-box:focus StBin {
  background-image: url("img/checkbox-off-focused.svg");
}
.check-box:checked StBin {
  background-image: url("img/checkbox.svg");
}
.check-box:focus:checked StBin {
  background-image: url("img/checkbox-focused.svg");
}
/* PopupMenu **********************************************************/
.popup-menu-boxpointer {
  -arrow-border-radius: 2.5px;
  -arrow-background-color: #2d2d2d;
  -arrow-border-width: 1px;
  -arrow-border-color: rgba(173, 169, 168, 0.3);
  -arrow-base: 17px;
  -arrow-rise: 7px;
  color: #dcdcdc;
  /*    padding: 2px 0px 0px 2px;*/

}
.popup-menu {
  min-width: 85px;
  padding-top: 2px;
}
.popup-sub-menu {
  border: 1px solid rgba(173, 169, 168, 0.3);
  border-radius: 2px;
}
.popup-sub-menu:scrolled .popup-menu-item:ltr {
  padding-left: 4px ;
  background: rgba(255, 255, 255, 0);
}
.popup-sub-menu:scrolled .popup-menu-item:rtl {
  padding-left: 0em;
}
.popup-sub-menu StScrollBar {
  padding: 4px;
}
.popup-sub-menu StScrollBar StBin#trough {
  border-width: 1px;
}
.popup-sub-menu StScrollBar StBin#vhandle {
  background-color: rgba(171, 171, 171, 0.3);
  border-width: 1px;
}
/* The remaining popup-menu sizing is all done in ems, so that if you
	* override .popup-menu.font-size, everything else will scale with it.
	*/
.popup-menu-content {
  padding: 0.2em 0.2em;
}
.popup-menu-item {
  color: #dcdcdc;
  font-size: 10pt;
  padding: 0.5em 1.5em;
  border: 1px rgba(0, 0, 0, 0);
}
.popup-menu-item:active {
  background: #d64937;
  border-radius: 2px;
  color: #f9f9f9;
  font-weight: normal;
  font-size: 10pt;
}
.popup-combobox-item {
  spacing: 1em;
}
.popup-separator-menu-item {
  -gradient-height: 1px;
  -gradient-start: rgba(249, 249, 449, 0.1);
  -gradient-end: rgba(249, 249, 449, 0.2);
  height: 0.1em;
}
.popup-alternating-menu-item:alternate {
  font-weight: bold;
}
.popup-slider-menu-item {
  height: 1em;
  min-width: 13em;
  color: rgba(0, 0, 0, 0);
  -slider-height: 3px;
  -slider-background-color: rgba(255, 255, 255, 0.4);
  -slider-border-color: rgba(0, 0, 0, 0.4);
  -slider-active-background-color: #f3f3f3;
  -slider-active-border-color: rgba(0, 0, 0, 0.4);
  -slider-border-width: 0px;
  -slider-handle-radius: 0.5em;
}
.popup-menu-item:hover .popup-slider-menu-item {
  color: #dcdcdc;
}
.popup-device-menu-item {
  background-color: #2d2d2d;
  spacing: .5em;
}
.popup-status-menu-item {
  color: #eeeeec;
}
.popup-inactive-menu-item,
.popup-inactive-menu-item:insensitive {
  color: #d3d7cf;
}
.popup-subtitle-menu-item,
.popup-subtitle-menu-item:insensitive {
  font-weight: bold;
  color: #d3d7cf;
}
.popup-menu-icon {
  icon-size: 16px;
}
/* Switches */
.toggle-switch {
  width: 48px;
  height: 21px;
}
.toggle-switch-us,
.toggle-switch-intl {
  background-image: url("img/toggle-off-intl.svg");
  background-size: contain;
}
.toggle-switch-us:checked,
.toggle-switch-intl:checked {
  background-image: url("img/toggle-on-intl.svg");
  background-size: contain;
}
.nm-menu-item-icons {
  spacing: .2em;
}
/* Buttons ************************************************************/
.dash-search-button,
.notification-button,
.notification-icon-button,
.hotplug-notification-item,
.hotplug-resident-eject-button,
.modal-dialog-button {
  background-color: #ada9a8;
  border-radius: 2px;
  border: 1px solid rgba(173, 169, 168, 0.3);
  color: #2d2d2d;
  font-size: 10pt;
  font-weight: bold;
  padding: 5px 15px;
  text-align: center;
  transition-duration: 300;
}
.dash-search-button:hover,
.notification-button:hover,
.notification-icon-button:hover,
.hotplug-notification-item:hover,
.hotplug-resident-eject-button:hover,
.modal-dialog-button:hover {
  background-color: #d64937;
  color: #f9f9f9;
}
.dash-search-button:selected,
.dash-search-button:focus,
.notification-button:focus,
.notification-icon-button:focus,
.hotplug-notification-item:focus,
.modal-dialog-button:focus {
  background: #d64937;
  color: #f9f9f9;
}
.dash-search-button:active,
.dash-search-button:pressed,
.notification-button:active,
.notification-icon-button:active,
.hotplug-notification-item:active,
.hotplug-resident-eject-button:active,
.modal-dialog-button:active,
.modal-dialog-button:pressed {
  /*  border: @border-width solid @border-color;*/

}
.notification-icon-button:insensitive,
.notification-button:insensitive {
  color: #9f9f9f;
}
.modal-dialog-button:default {
  background: #b2655b;
  color: #f9f9f9;
}
.modal-dialog-button:default:hover,
.modal-dialog-button:default:focus {
  background: #d64937;
}
/* Entries ************************************************************/
.notification StEntry,
.login-dialog-prompt-entry,
.prompt-dialog-password-entry {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.3);
  caret-color: rgba(255, 255, 255, 0.2);
  caret-size: 1px;
  color: white;
  padding: 5px 4px;
  font-size: 10pt;
  transition-duration: 200;
}
.notification StEntry:hover {
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.notification StEntry:focus,
.prompt-dialog-password-entry:focus,
.login-dialog-prompt-entry:focus {
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.prompt-dialog-password-entry .capslock-warning,
.login-dialog-prompt-entry .capslock-warning {
  icon-size: 16px;
  warning-color: #999;
  padding: 0 4px;
}
.login-dialog-prompt-entry:insensitive {
  color: rgba(0, 0, 0, 0.7);
  border: 2px solid #565656;
}
/* Panel **************************************************************/
#panel {
  border: 1px solid rgba(173, 169, 168, 0.3);
  background: #2d2d2d;
  color: #dcdcdc;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px;
  height: 24px;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px;
  font-size: 10pt;
  transition-duration: 200;
  font-weight: bold;
}
#panel StIcon {
  icon-shadow: rgba(0, 0, 0, 0.9) 0px 1px 0px;
}
#panelLeft,
#panelCenter {
  spacing: 4px;
}
#panelLeft:ltr {
  /*    padding-right: 4px;*/

}
#panelLeft:rtl {
  /*    padding-left: 4px;*/

  /*    font-weight: bold;*/

}
#panelRight:ltr {
  /*    padding-left: 4px;*/

  /*    font-weight: bold;*/

}
#panelRight:rtl {
  /*    padding-right: 4px;*/

}
#appMenu {
  padding-left: 13px;
  padding-right: 13px;
  border-left: 1px;
}
/* used for the app menu header only */
.label-shadow {
  color: rgba(0, 0, 0, 0);
}
/* Probably needs to be hidden differently */
.panel-button #appMenuIcon {
  width: 48px;
}
.app-menu-icon {
  width: 24px;
  height: 24px;
}
.panel-button {
  -natural-hpadding: 10px;
  -minimum-hpadding: 2px;
  transition-duration: 500;
  border: 0px;
}
.panel-button:hover {
  background: #b2655b;
  border: 0px;
}
.panel-button:active,
.panel-button:overview,
.panel-button:focus {
  background: #d64937;
  color: #f9f9f9;
  text-shadow: #2d2d2d 0px -1px 0px;
  border: 0px;
}
.panel-menu {
  -boxpointer-gap: 1px;
}
.panel-status-button-box {
  spacing: 4px;
}
/* User Menu **********************************************************/
#panelUserMenu {
  spacing: .2em;
}
.status-chooser {
  padding: .2em;
  spacing: .2em;
}
.status-chooser-user-icon {
  border: 4px solid rgba(173, 169, 168, 0.3);
  border-radius: 40px;
  width: 64px;
  height: 64px;
  background-size: contain;
  transition-duration: 400;
}
.status-chooser-user-icon:hover {
  border: 4px solid #d64937;
}
.status-chooser:insensitive {
  padding-left: 15px;
}
.status-chooser-user-name {
  font-size: 1.4em;
  min-width: 80pt;
}
.popup-menu-item .popup-combobox-item {
  font-size: 10pt;
}
.status-chooser-combo.popup-combo-menu {
  background-color: #ada9a8;
  padding: .5em .2em;
  border-radius: 2px;
  border: 1px solid rgba(173, 169, 168, 0.3);
  font-size: 10pt;
}
.status-chooser-status-item,
.status-chooser-combo .popup-combobox-item {
  spacing: .5em;
}
.status-chooser-status-item {
  padding: 0.5em 0.5em ;
}
.status-chooser-status-item:active {
  background-color: #2d2d2d;
  border-radius: 2px;
  border: 1px solid rgba(173, 169, 168, 0.3);
}
.system-status-icon {
  icon-size: 16px;
}
/* Overview ***********************************************************/
#overview {
  spacing: 20px;
  background-color: rgba(45, 45, 45, 0.4);
}
.workspace-controls {
  visible-width: 25px;
  /* Amount visible before hovering */

}
.workspace-thumbnails-background {
  background-color: #2d2d2d;
  padding: 5px 5px;
  border: 1px solid rgba(173, 169, 168, 0.3);
  border-radius: 2px;
  color: #000;
  border-right: 0px;
  border-top: 1px;
  border-left: 1px;
  border-bottom: 1px;
}
.workspace-thumbnails-background:rtl {
  border-right: 1px;
  border-left: 0px;
}
.workspace-thumbnails {
  spacing: 10px;
}
.workspace-thumbnail-indicator {
  outline: 1px solid #d64937;
  /*border: @border-width solid rgba(0,0,0,0.2);*/

}
.window-caption {
  -shell-caption-spacing: 10px;
  background-gradient-direction: vertical;
  background-gradient-end: #2d2d2d;
  background-gradient-start: #2d2d2d;
  /*text-shadow: rgba(0,0,0,0.2) 0px 1px 0px;*/

  border-radius: 2px;
  border: 1px solid rgba(173, 169, 168, 0.3);
  color: #f9f9f9;
  padding: 4px 15px;
  text-align: center;
}
.window-close {
  background-color: rgba(0, 0, 0, 0);
  background-image: url("img/close-window.svg");
  border-radius: 20px;
  border: 0px solid rgba(0, 0, 0, 0);
  height: 32px;
  width: 32px;
  transition-duration: 600;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  -shell-close-overlap: 20px;
}
.window-close:hover {
  background-color: rgba(255, 255, 255, 0);
  background-image: url("img/close-window-hover.svg");
  border: 0px solid rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 14px rgba(255, 255, 255, 0.4);
}
.notification-close {
  background-color: rgba(255, 255, 255, 0);
  background-image: url("img/close_dark.svg");
  border-radius: 4px;
  color: black;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0);
  /*    padding-right: 30px;*/

  transition-duration: 200;
  -shell-close-overlap-x: 0px;
  -shell-close-overlap-y: 0px;
}
.notification-close:hover {
  background-image: url("img/close.svg");
}
.window-close:rtl {
  /*    -st-background-image-shadow: 2px 2px 6px rgba(0,0,0,0.5);*/

}
/* Dash ***************************************************************/
#dash {
  spacing: 0px;
  color: black;
  background: url("img/dash_bg.svg");
  background-position: 0px 0px;
  border: 1px solid transparent;
  border-left: 0px;
  border-radius: 0px 4px 4px 0px;
}
#dash:rtl {
  background: url("img/dash_bg_rtl.svg");
  border-left: 0px;
  border-right: 0px;
  border-radius: 4px 0px 0px 4px;
}
#dash:empty {
  height: 150px;
  width: 50px;
}
.placeholder {
  background-image: url("img/dash-placeholder.svg");
}
#viewSelector {
  spacing: 1em;
}
/* Search Box */
#searchEntry {
  background-color: #2d2d2d;
  border-radius: 2px;
  border: 1px solid rgba(173, 169, 168, 0.3);
  caret-color: rgba(255, 255, 255, 0.2);
  caret-size: 1px;
  color: rgba(255, 255, 255, 0);
  padding: 5px 4px;
  font-size: 11pt;
  font-weight: bold;
  width: 350px;
  transition-duration: 200;
}
#searchEntry:hover {
  border: 1px solid #d64937;
}
#searchEntry:focus {
  background-color: #2d2d2d;
  border: 1px solid #d64937;
  color: rgba(240, 240, 240, 0.85);
}
.search-entry-icon {
  icon-size: 16px;
}
/* Search Results *****************************************************/
#searchResults {
  padding: 20px 10px 10px 10px;
  spacing: 18px;
}
#searchResultsContent {
  padding-right: 20px;
  spacing: 36px;
}
#searchResultsContent:rtl {
  padding-right: 0px;
  padding-left: 20px;
}
.search-statustext {
  padding: 4px 12px;
  spacing: 4px;
  color: white;
  font-size: 15pt;
}
.search-section-header {
  color: white;
  font-size: 12pt;
}
.search-section-results {
  color: #ffffff;
  padding: 6px;
}
.search-section-list-results {
  spacing: 4px;
}
.results-container {
  spacing: 4px;
}
.search-providers-box {
  spacing: 12px;
}
/* Text labels are an odd number of pixels tall. The uneven top and bottom
 * padding compensates for this and ensures that the label is vertically
 * centered */
/* NOTE TO SELF:  Which search Button? the Overview Search uses a symbolic emblem thats living inside the Search Entry Container*/
.dash-search-button {
  width: 70px;
}
.dash-search-button:focus,
.dash-search-button:selected {
  padding-top: 3px;
  padding-bottom: 4px;
  width: 298px;
}
/*NOTE TO SELF: The fuck is this HERE? */
.dash-label {
  background-color: #2d2d2d;
  border-radius: 2px;
  border: 1px solid rgba(173, 169, 168, 0.3);
  color: #f9f9f9;
  padding: 4px 15px;
  text-align: center;
  -x-offset: 2px;
  transition-duration: 200;
}
/* Application Launchers and Grid *************************************/
/* NOTE TO SELF: Where EXACTLY is this used? Just in Overview?*/
.icon-grid {
  spacing: 50px;
  -shell-grid-horizontal-item-size: 120px;
  -shell-grid-vertical-item-size: 120px;
}
.icon-grid .overview-icon {
  icon-size: 96px;
}
.all-app {
  padding: 16px 0px 16px 16px;
  spacing: 20px;
}
.all-app:rtl {
  padding-right: 16px;
  padding-left: 25px;
}
/* Application Categories **********************************************/
.app-filter {
  background-color: #2d2d2d;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0;
  color: #cdcdcd;
  font-size: 11pt;
  height: 25px;
  width: 120px;
  padding: 4px 0px 4px 15px ;
  margin-right: 0px;
  box-shadow: inset 1px 0px 0px 0px rgba(255, 255, 255, 0.2);
  transition-duration: 200;
}
.app-filter:first-child {
  border-radius: 4px 0 0 0;
  border-bottom: transparent;
  border-right: 0;
  box-shadow: inset 1px 0px 0px 0px rgba(255, 255, 255, 0.3);
  border-top: 1px;
}
.app-filter:last-child {
  border-radius: 0 0 0 4px;
  border-right: 0;
  border-top: 0px;
  border-bottom: 1px;
  box-shadow: inset 1px 0px 0px 0px rgba(255, 255, 255, 0.3);
}
.app-filter:hover {
  background-color: #141414;
  border-right: 0;
  color: #ededed;
}
.app-filter:hover:first-child {
  border-radius: 4 0 0 0;
}
.app-filter:hover:last-child {
  border-radius: 0 0 0 4px;
}
.app-filter:selected {
  background-color: #d64937;
  color: #f9f9f9;
  font-weight: bold;
  padding: 3px 0px 3px 15px ;
}
.app-filter:selected:first-child {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 3px 0px 4px 15px ;
}
.app-filter:selected:last-child {
  border-bottom: 1px;
  border-radius: 0 0 0 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 3px 0px 4px 15px ;
}
/* DASH ***************************************************************************/
.dash-item-container > StButton {
  padding: 4px 6px;
}
.app-well-app > .overview-icon,
.show-apps > .overview-icon,
.search-result-content > .overview-icon {
  border-radius: 2px;
  padding: 4px;
  border: 1px rgba(173, 169, 168, 0);
  transition-duration: 200;
  text-align: center;
  color: #f9f9f9;
}
.app-well-app.running > .overview-icon {
  border: 1px solid #d64937;
  background-color: #d64937;
  color: #f9f9f9;
}
.app-well-app.running:hover > .overview-icon,
.app-well-app.running:focus > .overview-icon,
.app-well-app.running:selected > .overview-icon {
  border: 1px solid rgba(173, 169, 168, 0.3);
  background-color: #d64937;
}
.app-well-app:hover > .overview-icon,
.show-apps:hover > .overview-icon,
.search-result-content:hover > .overview-icon {
  background-color: #b2655b;
  border: 1px solid rgba(0, 0, 0, 0);
  color: #f9f9f9;
}
.show-apps:checked > .overview-icon {
  background: #d64937;
  border-radius: 2px;
  transition-duration: 200;
}
.app-well-app:focus > .overview-icon,
.search-result-content:focus > .overview-icon,
.show-apps:focus > .overview-icon,
.app-well-app:selected > .overview-icon,
.search-result-content:selected > .overview-icon {
  background-color: rgba(214, 73, 55, 0.65);
  border: 1px rgba(173, 169, 168, 0.3);
}
StBin.overview-icon StLabel {
  /*	background-color: rgba(255,255,255,0.9);*/

  /*    border-radius: 4px;*/

  /*    border: @border-width solid rgba(0,0,0,0.1);*/

  /*    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.2);*/

  /*    color: rgba(0,0,0,0.8);*/

  /*    font-size: 9pt;*/

  /*    padding: 3px;*/

  /*    width: 90px!important;*/

  /*    text-align: center;*/

}
/* LookingGlass *******************************************************/
#LookingGlassDialog {
  background-color: #000000;
  spacing: 4px;
  padding: 4px;
  border: 2px solid grey;
  border-radius: 4px;
}
#LookingGlassDialog > #Toolbar {
  border: 1px solid #808080;
  border-radius: 4px;
}
#LookingGlassDialog .labels {
  spacing: 4px;
}
#LookingGlassDialog .notebook-tab {
  -natural-hpadding: 12px;
  -minimum-hpadding: 6px;
  font-weight: bold;
  color: #ccc;
  transition-duration: 100;
  padding-left: .3em;
  padding-right: .3em;
}
#LookingGlassDialog .notebook-tab:hover {
  color: white;
  text-shadow: black 0px 2px 2px;
}
#LookingGlassDialog .notebook-tab:selected {
  border-image: url("panel-button-border.svg") 10 10 0 2;
  background-image: url("panel-button-highlight-wide.svg");
  color: white;
  text-shadow: black 0px 2px 2px;
}
#LookingGlassDialog .lg-inspector-title {
  font-weight: bold;
  padding-bottom: 8px;
}
.lg-dialog StEntry {
  selection-background-color: #bbbbbb;
  selected-color: #333333;
}
.lg-completions-text {
  font-size: .9em;
  font-style: italic;
}
.lg-obj-inspector-title {
  spacing: 4px;
}
.lg-obj-inspector-button {
  border: 1px solid #808080;
  padding: 4px;
  border-radius: 4px;
}
.lg-obj-inspector-button:hover {
  border: 1px solid #ffffff;
}
.lg-dialog .shell-link {
  color: #999999;
}
.lg-dialog .shell-link:hover {
  color: #dddddd;
}
#LookingGlassDialog StBoxLayout#EvalBox {
  padding: 4px;
  spacing: 4px;
}
#LookingGlassDialog StBoxLayout#ResultsArea {
  spacing: 4px;
}
#lookingGlassExtensions {
  padding: 4px;
}
.lg-extension-list {
  padding: 4px;
  spacing: 6px;
}
.lg-extension {
  border: 1px solid #6f6f6f;
  border-radius: 4px;
  padding: 4px;
}
.lg-extension-name {
  font-weight: bold;
}
.lg-extension-meta {
  spacing: 6px;
}
#LookingGlassPropertyInspector {
  background: rgba(0, 0, 0, 0.8);
  border: 2px solid grey;
  border-radius: 4px;
  padding: 6px;
}
/* Calendar popup *****************************************************/
#calendarEventsArea {
  /* this is the width of the second column of the popup */

  min-width: 170px;
}
.calendar-vertical-separator {
  -stipple-width: 1px;
  -stipple-color: #888a85;
  width: 2em;
}
#calendarPopup {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 4px 4px;
  color: #f3f3f3;
}
#calendarPopup .calendar {
  padding: 5px;
}
.calendar {
  /*    padding-left: 12px;*/

  spacing-rows: 0px;
  spacing-columns: 0px;
}
.calendar-month-label {
  font-size: 10pt;
  font-weight: bold;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.calendar-change-month-back {
  background-image: url("img/calendar-arrow-left.svg");
  height: 20px;
  width: 20px;
  padding: 2px;
  padding-left: 40px;
  transition-duration: 200;
  border: 1px rgba(0, 0, 0, 0);
}
.calendar-change-month-back:rtl {
  background-image: url("img/calendar-arrow-right.svg");
}
.calendar-change-month-back:hover {
  /*    background-color: white;*/

  /*    border: 1px rgba(0,0,0,0.2);*/

  /*    border-radius: 4px;*/

  background-image: url("img/calendar-arrow-left-hover.svg");
}
.calendar-change-month-back:active {
  /*    box-shadow: inset 0 2px 2px 0 rgba(0,0,0,0.3);*/

  /*    background-color: rgba(0,0,0,0.1);*/

}
.calendar-change-month-forward {
  background-image: url("img/calendar-arrow-right.svg");
  height: 20px;
  width: 20px;
  transition-duration: 200;
  padding-right: 40px;
  padding-left: 0;
  border: 1px rgba(0, 0, 0, 0);
}
.calendar-change-month-forward:rtl {
  background-image: url("img/calendar-arrow-left.svg");
}
.calendar-change-month-forward:hover {
  /*    background-color: white;*/

  /*    border: 1px rgba(0,0,0,0.2);*/

  /*    border-radius: 4px;*/

  background-image: url("img/calendar-arrow-right-hover.svg");
}
.calendar-change-month-forward:active {
  /*    box-shadow: inset 0 2px 2px 0 rgba(0,0,0,0.2);*/

  /*    background-color: rgba(0,0,0,0.1);*/

}
.datemenu-date-label {
  padding: .9em 1.75em;
  font-size: 12pt;
  text-align: center;
}
.calendar-day-base {
  font-size: 8pt;
  height: 2em;
  width: 2em;
  text-align: center;
  padding: 1em 1em;
}
.calendar-day-base:hover {
  background: rgba(255, 255, 255, 0.1);
}
.calendar-day-base:active {
  background: rgba(255, 255, 255, 0.1);
}
.calendar-day-heading {
  border: 0;
  font-size: 7pt;
  color: rgba(255, 255, 255, 0.4);
  padding-bottom: 0.2em;
  padding-top: 1.5em;
  height: 12px;
}
.calendar-week-number {
  font-size: 7pt;
}
.calendar-day {
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: .1em;
  border-top-width: 0;
  border-left-width: 0;
}
.calendar-day-top {
  border-top-width: 1px;
}
.calendar-day-left {
  border-left-width: 1px;
}
.calendar-today {
  box-shadow: inset 0px 1px 0px #d64937;
  font-weight: bold;
  font-size: 11pt;
  color: #ffffff;
  padding: 0;
}
.calendar-other-month-day {
  /*    box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.1);*/

  background-gradient-direction: vertical;
  background-gradient-end: rgba(0, 0, 0, 0);
  background-gradient-start: rgba(0, 0, 0, 0.1);
}
.calendar-day-with-events {
  font-weight: bold;
  background: rgba(255, 255, 255, 0.1);
}
.events-header-vbox {
  spacing: 0.3em;
  padding-right: 1.75em;
}
.events-header-vbox:rtl {
  padding-right: 0em;
  padding-left: 1.75em;
}
.events-header-hbox {
  padding: 0.3em;
}
.events-day-header {
  font-size: 11pt;
  padding-left: .2em;
  padding-top: 0.8em;
  padding-bottom: 0.2em;
}
.events-day-header:rtl {
  padding-left: 1.5em;
  padding-right: 0em;
}
.events-day-dayname {
  font-size: 8pt;
  text-align: left;
  padding-bottom: .2em;
}
.events-day-dayname:rtl {
  text-align: right;
}
.events-day-time {
  padding-left: .2em;
  text-align: left;
  padding-bottom: .2em;
  color: rgba(255, 255, 255, 0.4);
}
.events-day-time:rtl {
  text-align: left;
}
.events-day-task {
  padding-bottom: .2em;
}
.events-day-name-box {
  min-width: 15px;
}
.events-time-box {
  min-width: 53px;
  padding-right: 6pt;
}
.events-time-box:rtl {
  padding-right: 0px;
  padding-left: 6pt;
}
.url-highlighter {
  link-color: #f3f3f3;
}
/* Message Tray *******************************************************/
#message-tray {
  background: #2d2d2d;
  background-repeat: repeat;
  transition-duration: 200;
  height: 256px;
}
#message-tray:keyboard {
  /* Same as the OSK */

  background: rgba(0, 0, 0, 0.8);
}
#message-tray:overview {
  background: #2d2d2d;
  border-top: 1px solid rgba(173, 169, 168, 0.3);
  height: 0px;
}
.notification {
  background: #2d2d2d;
  border: 1px solid rgba(255, 255, 255, 0.65);
  border-radius: 4px 4px 0px 0px;
  border-bottom: 0px;
  /*box-shadow: inset 0px 1px 0px rgba(255,255,255,0.4);*/

  color: #f3f3f3;
  text-align: left;
  padding: 8px;
  spacing-columns: 10px;
  spacing-rows: 10px;
  width: 35em;
}
.notification,
#notification-container {
  font-size: 10pt;
  width: 34em;
}
.notification.multi-line-notification {
  padding-bottom: 8px;
}
.notification-unexpanded {
  /* We want to force the actor at a specific size, irrespective
       of its minimum and preferred size, so we override both */

  min-height: 36px;
  height: 36px;
}
/* We use row-span = 2 for the image cell, which prevents its height preferences to be
   taken into account during allocation, so its height ends up being limited by the height
   of the content in the other rows. To avoid showing a stretched image, we set the minimum
   height of the table to be ICON_SIZE + IMAGE_SIZE + spacing-rows = 24 + 125 + 10 = 159 */
.notification-with-image {
  min-height: 159px;
}
.summary-boxpointer {
  -arrow-border-radius: 4px;
  -arrow-background-color: #2d2d2d;
  -arrow-border-width: 1px;
  -arrow-border-color: rgba(0, 0, 0, 0.65);
  -arrow-base: 15px;
  -arrow-rise: 7px;
}
.summary-boxpointer .notification {
  background-gradient-direction: vertical;
  background-gradient-end: rgba(255, 255, 255, 0);
  background-gradient-start: rgba(255, 255, 255, 0);
  box-shadow: inset 0px 0px 0px 0px rgba(255, 255, 255, 0);
  border: none;
}
.summary-boxpointer #summary-right-click-menu {
  padding: 5px;
}
.summary-notification-stack-scrollview {
  max-height: 23em;
  padding-top: 6px;
  padding-bottom: 6px;
}
.summary-notification-stack-scrollview:ltr {
  padding-right: 8px;
}
.summary-notification-stack-scrollview:rtl {
  padding-left: 8px;
}
.notification-scrollview {
  max-height: 12em;
  -st-vfade-offset: 12px;
}
.notification-scrollview:ltr > StScrollBar {
  padding-left: 6px;
  padding-right: 2px;
}
.notification-scrollview:rtl > StScrollBar {
  padding-right: 6px;
}
.notification-body {
  spacing: 5px;
}
.notification-actions {
  spacing: 10px;
}
.notification-button {
  padding: 4px 30px 5px;
}
.notification-button:focus {
  border: 1px rgba(0, 0, 0, 0.7);
}
.notification-icon-button {
  border-radius: 4px;
  padding: 5px;
}
.notification-icon-button > StIcon {
  icon-size: 16px;
  padding: 8px;
}
.secondary-icon {
  icon-size: 16px;
}
.hotplug-transient-box {
  background-color: #2d2d2d;
  spacing: 6px;
  padding: 2px 30px 0px 10px;
}
.hotplug-notification-item {
  padding: 5px 2px;
}
.hotplug-notification-item:focus {
  padding: 1px 23px 1px 11px;
}
.hotplug-notification-item-icon {
  icon-size: 16px;
  padding: 0px 5px;
}
.hotplug-resident-box {
  spacing: 2px;
  width: 120px;
}
.hotplug-resident-mount {
  spacing: 4px;
  width: 120px;
  border: 1px transparent;
}
.hotplug-resident-mount:hover {
  background-gradient-direction: vertical;
  background-gradient-start: rgba(245, 245, 245, 0.1);
  background-gradient-end: rgba(248, 248, 248, 0.12);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
}
.hotplug-resident-mount-label {
  color: inherit;
  padding-left: 10px;
}
.hotplug-resident-mount-icon {
  icon-size: 16px;
  padding-left: 10px;
}
.hotplug-resident-eject-icon {
  icon-size: 16px;
}
.hotplug-resident-eject-button {
  padding: 5px;
  border-radius: 4px;
}
.chat-log-message {
  color: #2e3436;
}
.chat-group-sent,
.chat-group-meta {
  padding: 8px 0;
}
.chat-received {
  padding-left: 4px;
  font-weight: bold;
  border: solid white;
  border-left: 2px;
}
.chat-received:rtl {
  padding-left: 0px;
  padding-right: 4px;
}
.chat-sent {
  padding-left: 18px;
  color: rgba(255, 255, 255, 0.5);
}
.chat-sent:rtl {
  padding-left: 0px;
  padding-right: 18px;
}
.chat-meta-message {
  padding: 2px 4px;
  border-radius: 45px;
  font-size: 8pt;
  color: rgba(255, 255, 255, 0.9);
  background-color: #3A3A3A;
}
.chat-meta-message:rtl {
  padding-left: 0px;
  padding-right: 4px;
}
.subscription-message {
  font-style: italic;
}
#summary-mode {
  padding: 0px 6px 0px 6px;
  /* same as the values in .summary-source */

  height: 60px;
  spacing: 10px;
}
.summary-source-button {
  border-radius: 4px;
  transition-duration: 200;
  color: white;
}
.summary-source-button:hover {
  background-color: #b2655b;
}
.summary-source-button:selected {
  background: #d64937;
}
.summary-source-button:focus {
  background-color: #d64937;
}
.summary-source {
  padding-right: 6px;
  padding-left: 6px;
}
.summary-source-counter {
  color: white;
  background-color: black;
  font-size: 10pt;
  border-radius: 2em;
  min-height: 1em;
  min-width: 1em;
  -shell-counter-overlap-x: 4px;
  -shell-counter-overlap-y: 4px;
}
/* App Switcher */
#altTabPopup {
  background: rgba(0, 0, 0, 0.15);
}
.switcher-list {
  background: #2d2d2d;
  border: 1px solid rgba(173, 169, 168, 0.3);
}
.switcher-list-item-container {
  spacing: 16px;
}
.thumbnail-scroll-gradient-left {
  background-gradient-direction: horizontal;
  background-gradient-start: #333333;
  background-gradient-end: rgba(51, 51, 51, 0);
  border-radius: 4px;
  border-radius-topright: 0px;
  border-radius-bottomright: 0px;
  width: 30px;
}
.thumbnail-scroll-gradient-right {
  background-gradient-direction: horizontal;
  background-gradient-start: rgba(255, 255, 51, 0);
  background-gradient-end: #333333;
  border-radius: 4px;
  border-radius-topleft: 0px;
  border-radius-bottomleft: 0px;
  width: 30px;
}
.switcher-list .item-box {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);
}
.switcher-list .item-box:outlined {
  background-gradient-direction: vertical;
  background-gradient-end: rgba(255, 255, 255, 0.6);
  background-gradient-start: rgba(255, 255, 255, 0.9);
  box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: black;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
}
.switcher-list .item-box:selected {
  background-gradient-direction: vertical;
  background-gradient-end: rgba(255, 255, 255, 0.6);
  background-gradient-start: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: #2e3436;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
}
.switcher-list .thumbnail-box {
  padding: 2px;
  spacing: 4px;
}
.switcher-list .thumbnail {
  width: 250px;
}
.switcher-list .separator {
  width: 1px;
  background-gradient-direction: vertical;
  background-gradient-start: rgba(255, 255, 255, 0.5);
  background-gradient-end: rgba(255, 255, 255, 0);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.ripple-box {
  width: 52px;
  height: 52px;
  background-image: url("img/corner-ripple-ltr.png");
}
.ripple-box:rtl {
  width: 52px;
  height: 52px;
  background-image: url("img/corner-ripple-rtl.png");
}
.switcher-arrow {
  border-color: rgba(0, 0, 0, 0);
  color: #808080;
}
.switcher-arrow:highlighted {
  border-color: rgba(0, 0, 0, 0);
  color: white;
}
/* Workspace Switcher */
.workspace-switcher-group {
  padding: 0px;
}
.workspace-switcher-container {
  padding: 0px;
  background: transparent;
}
.workspace-switcher {
  background-color: transparent;
}
.workspace-switcher * {
  width: 100px;
}
.ws-switcher-active-up {
  background: url('img/ws-switch-arrow-up.svg');
}
.ws-switcher-active-down {
  background: url('img/ws-switch-arrow-down.svg');
}
.ws-switcher-box {
  height: 200px;
}
/* Modal Dialogs */
/* Dialog Subject Text Style */
.show-processes-dialog-subject,
.mount-question-dialog-subject,
.end-session-dialog-subject,
.prompt-dialog-headline {
  font-size: 14pt;
  font-weight: bold;
  color: white;
}
.modal-dialog {
  background-color: #2d2d2d;
  border-color: rgba(173, 169, 168, 0.3);
}
/* DOESN'T WORK*/
/*.modal-dialog-entry {
    font-size: 11pt;
    font-weight: bold;
    color: rgba(45,45,45,0.9);
    border: @border-width solid rgba(0,0,0,0.1);
    background-color: rgba(249,249,249,0.8);
  box-shadow: inset 0px 1px 0px rgba(255,255,255,0.4);	
    padding: 4px;
}*/
/*END OF THE ONE THAT DOESN'T WORK*/
.modal-dialog-button-box {
  spacing: 10px;
}
.modal-dialog-button {
  /*    margin-left: 10px;*/

  /*    margin-right: 10px;*/
  /* Are margins supported? */

  padding: 4px 32px 5px;
}
.modal-dialog-button:insensitive {
  color: #3c3c3c;
}
.modal-dialog-button:focus {
  /* padding: 3px 31px 4px; */

}
/* Run Dialog *********************************************************/
/* see Dialog Convenience */
.run-dialog-label {
  font-size: 10pt;
  padding-bottom: 10px;
}
.run-dialog-error-label {
  color: red;
  font-weight: bold;
}
.run-dialog-error-box {
  padding-top: 15px;
  spacing: 5px;
}
.run-dialog-entry {
  font-size: 11pt;
  font-weight: bold;
  color: rgba(45, 45, 45, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(249, 249, 249, 0.8);
  /*box-shadow: inset 0px 1px 0px rgba(255,255,255,0.4);*/

  padding: 4px;
}
.lightbox {
  background-color: rgba(0, 0, 0, 0.3);
}
.flashspot {
  background-color: white;
}
/* End Session Dialog *************************************************/
/* see Dialog Convenience */
.end-session-dialog-subject {
  padding-top: 10px;
  padding-left: 17px;
  padding-bottom: 30px;
  text-align: left;
}
.end-session-dialog-subject:rtl {
  padding-left: 0px;
  padding-right: 17px;
}
.end-session-dialog-description {
  padding-left: 17px;
  width: 28em;
}
.end-session-dialog-description:rtl {
  padding-right: 7px;
}
.end-session-dialog-logout-icon {
  border: 1px solid #8b8b8b;
  border-radius: 4px;
  width: 48px;
  height: 48px;
}
.end-session-dialog-shutdown-icon {
  width: 48px;
  height: 48px;
}
.end-session-dialog-app-list {
  font-size: 10pt;
  max-height: 200px;
  padding-top: 42px;
  padding-left: 49px;
  padding-right: 32px;
}
.end-session-dialog-app-list:rtl {
  padding-right: 49px;
  padding-left: 32px;
}
.end-session-dialog-app-list-item {
  color: #ccc;
}
.end-session-dialog-app-list-item:hover {
  color: #d64937;
}
.end-session-dialog-app-list-item:press {
  color: red;
}
.end-session-dialog-app-list-item:ltr {
  padding-right: 1em;
}
.end-session-dialog-app-list-item:rtl {
  padding-left: 1em;
}
.end-session-dialog-app-list-item-icon:ltr {
  padding-right: 17px;
}
.end-session-dialog-app-list-item-icon:rtl {
  padding-left: 17px;
}
.end-session-dialog-app-list-item-name {
  font-size: 10pt;
}
.end-session-dialog-app-list-item-description {
  font-size: 8pt;
  color: #444444;
}
/* ShellMountOperation Dialogs */
.shell-mount-operation-icon {
  icon-size: 48px;
}
.mount-password-reask {
  color: red;
}
.show-processes-dialog,
.mount-question-dialog {
  spacing: 24px;
}
.show-processes-dialog-subject,
.mount-question-dialog-subject {
  padding-top: 10px;
  padding-left: 17px;
  padding-bottom: 6px;
}
.mount-question-dialog-subject {
  max-width: 500px;
}
.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
  padding-left: 0px;
  padding-right: 17px;
}
.show-processes-dialog-description,
.mount-question-dialog-description {
  padding-left: 17px;
  width: 28em;
}
.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
  padding-right: 17px;
}
.show-processes-dialog-app-list {
  font-size: 10pt;
  max-height: 200px;
  padding-top: 24px;
  padding-left: 49px;
  padding-right: 32px;
}
.show-processes-dialog-app-list:rtl {
  padding-right: 49px;
  padding-left: 32px;
}
.show-processes-dialog-app-list-item {
  color: #ccc;
}
.show-processes-dialog-app-list-item:hover {
  color: white;
}
.show-processes-dialog-app-list-item:ltr {
  padding-right: 1em;
}
.show-processes-dialog-app-list-item:rtl {
  padding-left: 1em;
}
.show-processes-dialog-app-list-item-icon:ltr {
  padding-right: 17px;
}
.show-processes-dialog-app-list-item-icon:rtl {
  padding-left: 17px;
}
.show-processes-dialog-app-list-item-name {
  font-size: 10pt;
}
/* Password or Authentication Dialog */
.prompt-dialog {
  /* this is the width of the entire modal popup */

  width: 500px;
}
.prompt-dialog-main-layout {
  spacing: 24px;
  padding: 10px;
  font-size: 10pt;
}
.prompt-dialog-message-layout {
  spacing: 16px;
}
.prompt-dialog-password-box {
  spacing: 1em;
  padding-bottom: 1em;
}
.prompt-dialog-error-label {
  font-size: 10pt;
  color: red;
  font-weight: bold;
  padding-bottom: 8px;
}
.prompt-dialog-info-label {
  font-size: 10pt;
  padding-bottom: 8px;
}
.prompt-dialog-password-entry {
  background-color: white;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  box-shadow: outset 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
  caret-color: rgba(255, 255, 255, 0.8);
  caret-size: 1px;
  color: rgba(0, 0, 0, 0.5);
}
.prompt-dialog-password-entry:focus {
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.hidden {
  color: rgba(0, 0, 0, 0);
}
.prompt-dialog-null-label {
  font-size: 10pt;
  padding-bottom: 8px;
}
/* Polkit Dialog */
.polkit-dialog-user-layout {
  padding-left: 10px;
  spacing: 10px;
}
.polkit-dialog-user-layout:rtl {
  padding-left: 0px;
  padding-right: 10px;
}
.polkit-dialog-user-root-label {
  color: #ff0000;
  font-size: 11pt;
}
.polkit-dialog-user-icon {
  border: 2px solid #3a3a3a;
  border-radius: 32px;
  background-size: contain;
  width: 48px;
  height: 48px;
}
/* Network Agent Dialog */
.network-dialog-secret-table {
  spacing-rows: 15px;
  spacing-columns: 1em;
}
.keyring-dialog-control-table {
  spacing-rows: 15px;
  spacing-columns: 1em;
}
/* Magnifier */
.magnifier-zoom-region {
  border: 2px solid #800000;
}
.magnifier-zoom-region.full-screen {
  border-width: 0px;
}
/* On-screen Keyboard */
/*#keyboard {*/
/*    background-gradient-start: rgba(255,255,255,0.95);*/
/*    background-gradient-end: rgba(255,255,255,0.9);*/
/*    background-gradient-direction: vertical;*/
/*}*/
/*.keyboard-layout {*/
/*    spacing: 15px;*/
/*    padding: 15px;*/
/*}*/
/*.keyboard-row {*/
/*    spacing: 10px;*/
/*}*/
/*.keyboard-key {*/
/*    min-height: 20px;*/
/*    min-width: 30px;*/
/*    background-gradient-start: rgba(255,255,255,0.75);*/
/*    background-gradient-end: rgba(255,255,255,0.45);*/
/*    background-gradient-direction: vertical;*/
/*    font-size: 13pt;*/
/*    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.95);*/
/*    border-radius: 4px;*/
/*    border: @border-width solid rgba(0,0,0,0.2) ;*/
/*    color: rgba(0,0,0,0.7);*/
/*    transition-duration: 200;*/
/*}*/
/*.keyboard-key:grayed {*/
/*   color: #808080;*/
/*   border-color: #808080;*/
/*}*/
/*.keyboard-key:checked,*/
/*.keyboard-key:hover {*/
/*    background-gradient-start: rgba(255,255,255,0.98);*/
/*    background-gradient-end: rgba(255,255,255,0.55);*/
/*    background-gradient-direction: vertical;*/
/*    border: @border-width solid rgba(0,0,0,0.4);*/
/*    color: rgba(0,0,0,0.8d);*/
/*    transition-duration: 200;*/
/*}*/
/*.keyboard-key:active {*/
/*    box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.5);*/
/*}*/
/*.keyboard-subkeys {*/
/*    color: white;*/
/*    padding: 5px;*/
/*     -arrow-base: 20px;*/
/*    -arrow-rise: 10px;*/
/*    -boxpointer-gap: 5px;*/
/*    -arrow-border-radius: 4px;*/
/*    -arrow-background-color: rgba(255,255,255,0.98);*/
/*    -arrow-border-width: 1px;*/
/*    -arrow-border-color: rgba(0,0,0,0.5);*/
/*}*/
/* IBus Candidate Popup */
.candidate-index {
  padding: 0.5em 0.5em 0.5em 0.5em;
}
.candidate-label {
  padding: 0.5em 0.5em 0.5em 0.5em;
}
.candidate-label:selected {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.33);
}
/*Fixes for various Extensions*/
/*Weather*/
/*
 .weather-current-summarybox {
    padding-top: 15px;

}

 .weather-current-summary {
    font-size: 25px;
    padding-right: 20px;
    padding-left: 20px;
    padding: 5px 20px 0 20px;
}

 .weather-current-databox {
    padding-top: 15px;
    padding-left: 10px;
}

 .weather-current-icon {
    padding: 15px 20px 15px 35px;
    width: 50px;
    height: 50px;
}

 .weather-current-iconbox {
    padding: 20px;
}

.weather-icon {
    padding-right: 0px; Remove this line if you use a text and an icon
    text-shadow: rgba(0,0,0,0.3) 0px 1px 0px;
}

 .weather-icon-rtl {
    padding-left: 2px;
}

 .weather-current-databox-captions {
    text-align: right;
    padding-right: 15px;
    padding-left: 15px;
    color: rgba(0,0,0,0.5);
}

 .weather-forecast-icon {
  padding: 15px 15px 15px 30px;
}

 .weather-forecast-databox {
  padding: 15px 30px 15px 0;
}

 .weather-forecast-day {
    color: rgba(0,0,0,0.5);
}
*/
/*Smart Overview*/
.window-caption {
  color: rgba(255, 255, 255, 0.95);
  /*Getting rid of the red-text bug  wait....what?*/

}
/* Message Notifier */
/*
  .message-button {
}

.message-label {
    text-align: center;
    color: rgba(255,255,255,0.98);
    text-shadow: rgba(0,0,0,0.3) 0px 1px 0px;
    padding: 2px 6px;
    border: 1px  rgba(0,0,0,0.15);
    background-color: rgba(255,255,255,0.3);
    box-shadow:  inset 0px -1px 0px 0px rgba(255,255,255,0.15);
    border-radius: 50px ;
}

.panel-button:hover .message-label{
	    background-gradient-start: rgba(0,0,0,0.0);
    background-gradient-end: rgba(255,255,255,0.0);
    box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.0);
}

*/
/* GDM Import */
/* @import "gdm.less"; */